<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Pár č. {{index + 1}}
    </mat-panel-title>
    <mat-panel-description>
      <!-- názov -->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Vysvetlenie</mat-label>
      <input matInput [formControl]="explanationFormControl" placeholder="Napr. Prečo ste zvolili túto asociáciu" autocomplete="off">
    </mat-form-field>
  </form>

  <div class="centered">
    <img *ngIf="croppedImage1" [src]="croppedImage1" class="img-pair">
    <button *ngIf="!pair.item1.img" mat-raised-button color="primary" (click)="mediaSelection(pair, 0)">Zvoľte obrázok č.1</button>
  </div>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Na kartičke č. 1 zobraziť text</mat-label>
      <input matInput [formControl]="item1FormControl" placeholder="Napr. Meno autora obrazu" autocomplete="off">
    </mat-form-field>
  </form>
  <div class="centered">
    <img *ngIf="croppedImage2" [src]="croppedImage2" class="img-pair">
    <button *ngIf="!pair.item2.img" mat-raised-button color="primary" (click)="mediaSelection(pair, 1)">Zvoľte obrázok č. 2</button>
  </div>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Na kartičke č. 2 zobraziť text</mat-label>
      <input matInput [formControl]="item2FormControl" placeholder="Napr. Rok vzniku obrazu" autocomplete="off">
    </mat-form-field>
  </form>
</mat-expansion-panel>
