<mat-expansion-panel class="panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{'games.pairNr' | translate}} {{index + 1}}
    </mat-panel-title>
    <mat-panel-description>
      <!-- názov -->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{'games.expl' | translate}}</mat-label>
      <input matInput [formControl]="explanationFormControl" placeholder="{{'games.explPlaceholder3' | translate}}" autocomplete="off">
    </mat-form-field>
    <span class="wizard">
      <app-wizard-button wizardType="explanation"></app-wizard-button>
    </span>
  </form>

  <div class="centered">
    <div class="preview">
      <img *ngIf="croppedImage1" [src]="croppedImage1" class="img-pair">
      <div *ngIf="croppedImage1" class="remove">
        <button  mat-icon-button
        (click)="removeMedia(0)" aria-label="Example icon button with a home icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button *ngIf="!pair.item1.img" mat-raised-button color="primary" (click)="mediaSelection(pair, 0)">{{'games.img1' | translate}}</button>
    </div>
  </div>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{'games.pairText1' | translate}}</mat-label>
      <input matInput [formControl]="item1FormControl" placeholder="{{'games.expl' | translate}}Napr. Meno autora obrazu" autocomplete="off">
    </mat-form-field>
  </form>
  <div class="centered">
    <div class="preview">
      <img *ngIf="croppedImage2" [src]="croppedImage2" class="img-pair">
      <div *ngIf="croppedImage2" class="remove">
        <button  mat-icon-button
        (click)="removeMedia(1)" aria-label="Example icon button with a home icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button *ngIf="!pair.item2.img" mat-raised-button color="primary" (click)="mediaSelection(pair, 1)">{{'games.img2' | translate}}</button>
    </div>
  </div>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{'games.pairText2' | translate}}</mat-label>
      <input matInput [formControl]="item2FormControl" placeholder="{{'games.expl' | translate}}Napr. Rok vzniku obrazu" autocomplete="off">
    </mat-form-field>
  </form>
</mat-expansion-panel>
