<div class="wrapper">
  <!-- <div *ngIf="!pairs.length" class="centered">
    <h2>Zatiaľ nemáte definovaný žiadny pár</h2>
  </div> -->
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'games.actMemory' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{'games.actNrPairs' | translate}} {{activity.content.pairs.length}}/6
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-activity-pass [config]="activity.config"></app-activity-pass>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{'games.timeLimit' | translate}}</mat-label>
          <input matInput [formControl]="timeFormControl" placeholder="{{'games.timeLimitPlaceholder' | translate}}" autocomplete="off">
        </mat-form-field>
        <span class="wizard">
          <app-wizard-button wizardType="mem_pair_time"></app-wizard-button>
        </span>
        <!-- <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Maximálny počet pokusov</mat-label>
          <input matInput [formControl]="maxTriesFormControl" placeholder="Napr. 10" autocomplete="off">
        </mat-form-field> -->
        <!-- <span class="wizard">
          <app-wizard-button wizardType="max_tries"></app-wizard-button>
        </span> -->
      </form>
    </mat-expansion-panel>
    <app-pair [pair]="pair" [index]="index"
    *ngFor="let pair of activity.content.pairs; let index = index"></app-pair>

  </mat-accordion>

  <div class="centered" *ngIf="activity.content.pairs.length <6">
    <button
    class="action-button"
    mat-raised-button color="primary" (click)="add()">{{'games.newPair' | translate}}</button>
    <span class="wizard-btn">
      <app-wizard-button wizardType="mem_pair"></app-wizard-button>
    </span>
  </div>
</div>
