<mat-card  class="example-card">
  <mat-card-header>
    <mat-card-title>{{'registration.title' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>{{'registration.name' | translate}}</mat-label>
        <!-- <input [(ngModel)]="name" type="text" class="form-control" placeholder="Váše meno verejne viditelne" aria-label="FullName" aria-describedby="basic-addon1"> -->
        <input matInput [formControl]="nameFormControl" [placeholder]="'Vaše meno'">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          {{'registration.hint1' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'login.email' | translate}}</mat-label>
        <!-- <input [(ngModel)]="email" type="text" class="form-control" placeholder="Váš email" aria-label="Username" aria-describedby="basic-addon1"> -->
        <input matInput [formControl]="emailFormControl" [placeholder]="'login.example' | translate">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          {{'login.hint1' | translate}}
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          {{'login.hint2' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="error1">
        {{'registration.hint2' | translate}}
      </mat-error>
      <mat-form-field class="example-full-width">
        <mat-label>{{'login.password' | translate}}</mat-label>
        <!-- <input [(ngModel)]="password" type="password" class="form-control" placeholder="Vaše heslo" aria-label="Password" aria-describedby="basic-addon1"> -->
        <input matInput type="password" [formControl]="passwordFormControl">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          {{'login.hint3' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width">
        <mat-label>{{'login.password' | translate}}</mat-label> -->
        <!-- <input type="checkbox" id="terms">
        <label for="terms">Suhlasim s podmienkami pouzivania.</label> -->
        <!-- <input matInput type="password" [formControl]="passwordFormControl"> -->
        <!-- <mat-error *ngIf="passwordFormControl.hasError('required')">
          {{'login.hint3' | translate}}
        </mat-error>
      </mat-form-field> -->
    </form>
    <mat-checkbox class="example-margin"
    [(ngModel)]="ourTerms"
    >{{'registration.hint3' | translate}}
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
      (click)="openDialogTerms()">
        {{'registration.hint4' | translate}}
      </button>
    </mat-checkbox>

    <mat-checkbox class="example-margin"
    [(ngModel)]="googleTerms"
    >{{'registration.hint5' | translate}}
      <a href="https://support.google.com/googleplay/android-developer/topic/9877466?hl=en&ref_topic=9858052&sjid=54730458210806165-EU" target="_blank">{{'registration.hint6' | translate}}</a></mat-checkbox>
      <mat-error *ngIf="error2">
        {{'registration.hint7' | translate}}
      </mat-error>
  </mat-card-content>
  <mat-card-actions class="action">
    <button mat-button (click)="register()">{{'registration.button' | translate}}</button>
  </mat-card-actions>
</mat-card>
