.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.wrapper {
  width: 100%;
  padding: 50px;
}
.centered {
  padding-top: 50px;
  text-align: center;
}

.centered2 {
  padding-top: 30px;
  text-align: center;
}
.example-button-container {
  display: inline;
  margin-left: 20px;
}

.actions {
  text-align: center;
}
.actButton {
  margin-left: 20px;
  margin-right: 20px;
}

.delete-activity {
  position: fixed;
  right: 50px;
  bottom: 80px;
}

.example-form {
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.action-button {
  margin-left: 25px;
  margin-right: 5px;
}

/* .field-wrapper {
  position: relative;
} */
.wizard {
  /* text-align: right; */
  position: absolute;
  margin-left: 10px;
  /* top: -80px;
  right: -60px; */
  /* float: right; */
  /* display: inline;
  spacing-top: 20px; */
}

.wizard-btn {
  display: inline-block;

  /* position: relative;
  text-align: center; */
}

.done-icon {
  color: green;
}
.missing-icon {
  color: red;
}
