<div class="wrapper">
  <mat-tab-group mat-align-tabs="start"
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selection($event)"
  (selectedTabChange) = "change($event)"
  >
    <mat-tab label="{{'editor.settings' | translate}}">
      <ng-container *ngTemplateOutlet="setup"></ng-container>
    </mat-tab>
    <mat-tab label="{{'editor.map' | translate}}">
      <app-game-bg #bgComponent [activities]="acts"
      [bg]="bg" (bgLoaded)="bgLoaded($event)"></app-game-bg>
      <!-- <ng-container *ngTemplateOutlet="bg"></ng-container> -->
    </mat-tab>
    <mat-tab *ngFor="let act of acts; let index = index" [label]="act.label | translate">
      <ng-container *ngIf="!act.type">
        <div class="centered">
          <mat-form-field appearance="outline" class="orgs-selection">
            <mat-label>{{'editor.create' | translate}}</mat-label>
            <mat-select [(ngModel)]="act.type" name="org">
              <mat-option *ngFor="let ACT of ACTS" (click)="createAct(ACT, act)" [value]="ACT.id">
                {{ACT.label | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container *ngIf="act.type=='memory'">
        <app-memory-act [activity]="act"></app-memory-act>
      </ng-container>
      <ng-container *ngIf="act.type=='timeline'">
        <app-timeline-act [activity]="act"></app-timeline-act>
      </ng-container>
      <ng-container *ngIf="act.type=='quiz'">
        <app-quiz-act [activity]="act"></app-quiz-act>
      </ng-container>
      <ng-container *ngIf="act.type=='find-detail'">
        <app-locate-on-img-act [activity]="act"></app-locate-on-img-act>
      </ng-container>
      <ng-container *ngIf="act.type=='one-correct'">
        <app-one-correct-img-act></app-one-correct-img-act>
      </ng-container>
      <ng-container *ngIf="act.type=='open-question'">
        <app-open-question [activity]="act"></app-open-question>
      </ng-container>
      <div class="delete-activity">
        <button mat-fab color="primary"
        (click)="removeActivity(act, index)"
        aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>add</mat-icon>
        Add Activity
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>

<ng-template #setup>
  <div class="centered">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Názov hry</mat-label>
        <input matInput [formControl]="titleFormControl" placeholder="Napr. Spoznajte dielo Posledná večera" autocomplete="off">
        <mat-error *ngIf="titleFormControl.hasError('required')">
          Názov sa <strong>vyžaduje</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Organizácia</mat-label>
        <input matInput  [formControl]="orgFormControl" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Kód pre vstup do nepublikovanej hry</mat-label>
        <input matInput  [formControl]="codeFormControl" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Jazyk hry</mat-label>
        <mat-select [(ngModel)]="selectedLng" name="lng">
          <mat-option *ngFor="let lng of lngs" [value]="lng">
            {{lng}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Vekové doporučenie</mat-label>
        <mat-select [(ngModel)]="selectedAge" name="age">
          <mat-option *ngFor="let age of ages" [value]="age">
            {{age}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Odbornosť obsahu hry</mat-label>
        <mat-select [(ngModel)]="selectedLevel" name="level">
          <mat-select-trigger>
            <mat-icon>school</mat-icon>&nbsp;
            {{ selectedLevel }}
          </mat-select-trigger>
          <mat-option *ngFor="let level of levels; let index = index" [value]="level">
            <mat-icon>school</mat-icon>
            <mat-icon *ngIf="index > 0">school</mat-icon>
            <mat-icon *ngIf="index < 1"></mat-icon>
            <mat-icon *ngIf="index > 1">school</mat-icon>
            <mat-icon *ngIf="index < 2"></mat-icon>
            {{level}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngTemplateOutlet="intro"></ng-container>
      <ng-container *ngTemplateOutlet="end"></ng-container>
    </form>
  </div>
  <div class="centered">
    <button mat-raised-button class="action-button" color="primary" (click)="save()">Uložiť hru</button>
    <button mat-raised-button class="action-button" color="primary" (click)="test()">Uložiť hru a otestovať</button>
    <button mat-raised-button class="action-button" color="primary" (click)="publish()">Publikovať a uložiť hru</button>
    <button mat-raised-button class="action-button" disabled>Štatistiky</button>
    <button mat-raised-button class="action-button" disabled><mat-icon>share</mat-icon>Zdieľaj na socialnych sieťach</button>
    <button mat-raised-button class="action-button" color="primary" (click)="delete()">Odstrániť hru</button>
  </div>
</ng-template>

<ng-template #intro>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Textový úvod do hry</mat-label>
    <textarea matInput rows="5" [formControl]="introFormControl" placeholder="Napr. Spoznajte krásy a históriu nášho krásneho mesta."></textarea>
  </mat-form-field>
</ng-template>
<ng-template #end>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Posledné slová po odohraní všetkých aktivít</mat-label>
    <textarea matInput [formControl]="endFormControl" rows="5" placeholder="Napr. Ak vás táto hra zaujala, navštívte aj naše múzeum."></textarea>
  </mat-form-field>
</ng-template>
<!-- <ng-template #bg>
  <div class="centered">
    <div class="centered">
      <img *ngIf="bgSelection" [src]="mediaUrl(bgSelection)" width="80%">
      <button *ngIf="!bgSelection" mat-raised-button color="primary" (click)="background()">Vyber si mapu/pozadie</button>
    </div>
  </div>
</ng-template> -->
