<ng-template [ngIf]="language == 'SK'">
  <h2 mat-dialog-title>O aplikácií</h2>
  <mat-dialog-content class="mat-typography">
  <p>
    Kurátorský nástroj app.touchtheculture.eu a mobilná aplikácia vznikla v rámci projektu Dotknite sa kultúry.
  </p>
  <p>
    <b>Tento projekt bol spolufinancovaný z programu Európskej únie Erasmus+.</b>
  </p>
  <p>
    Tieto nástroje majú prispieť k zvýšeniu záujmu mladých ľudí o kultúru a navnadiť ich na návštevu kultúrnych inštitúcií či pamiatok.
  </p>
  <p>
    Aplikácia je dostupná v slovenskej, českej, poľskej a anglickej verzii.
  </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>{{'close' | translate}}</button>
  </mat-dialog-actions>
</ng-template>
<ng-template [ngIf]="language == 'CZ'">
  <h2 mat-dialog-title>O aplikaci</h2>
  <mat-dialog-content class="mat-typography">
    <p>
      Kurátorský nástroj app.touchtheculture.eu a mobilní aplikace vznikla v rámci projektu Dotkněte se kultury.
    </p>
    <p>
      <b>Tento projekt byl spolufinancován z programu Evropské unie Erasmus+.</b>
    </p>
    <p>
      Tyto nástroje mají přispět ke zvýšení zájmu mladých lidí o kulturu a navnadit je na návštěvu kulturních institucí či památek.
    </p>
    <p>
      Aplikace je dostupná ve slovenské, české, polské a anglické verzi.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>{{'close' | translate}}</button>
  </mat-dialog-actions>
</ng-template>
<ng-template [ngIf]="language == 'EN'">
  <h2 mat-dialog-title>About</h2>
  <mat-dialog-content class="mat-typography">
    <p>
      The app.touchtheculture.eu curatorial tool and mobile application was created within the Touch the Culture project.
    </p>
    <p>
      <b>This project was co-financed by the Erasmus+ program of the European Union.</b>
    </p>
    <p>
      These tools are intended to contribute to increasing young people's interest in culture and entice them to visit cultural institutions or monuments.
    </p>
    <p>
      The application is available in Slovak, Czech, Polish and English versions.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>{{'close' | translate}}</button>
  </mat-dialog-actions>
</ng-template>

<ng-template [ngIf]="language == 'PL'">
  <h2 mat-dialog-title>O aplikacji</h2>
  <mat-dialog-content class="mat-typography">
    <p>
      Narzędzie kuratorskie app.touchtheculture.eu oraz aplikacja mobilna powstały w ramach projektu Touch the Culture.
    </p>
    <p>
      <b>Projekt ten był współfinansowany z programu Unii Europejskiej Erasmus+.</b>
    </p>
    <p>
      Narzędzia te mają przyczynić się do zwiększenia zainteresowania młodych ludzi kulturą i zachęcić ich do odwiedzania instytucji kultury czy zabytków.
    </p>
    <p>
      Aplikacja jest dostępna w słowackiej, czeskiej, polskiej i angielskiej wersji językowej.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>{{'close' | translate}}</button>
  </mat-dialog-actions>
</ng-template>
