<ng-template [ngIf]="language == 'SK'">
  <h2 mat-dialog-title>O aplikácií</h2>
  <mat-dialog-content class="mat-typography">
  <p>
    Kurátorský nástroj app.touchtheculture.eu a mobilná aplikácia vznikla v rámci projektu Dotknite sa kultúry.
  </p>
  <p>
    <b>Tento projekt bol spolufinancovaný z programu Európskej únie Erasmus+.</b>
  </p>
  <p>
    Tieto nástroje majú prispieť ku zvýšeniu záujmu mladých ľudí o kultúru a navnadiť ich na návštevu kultúrnych inštitúcií či pamiatok.
  </p>
  <!-- <p>
    Aplikácia ponúka dva základné pracovné módy:
  </p>
  <p>
    Účastnícke/žiacke rozhranie vzdelávacieho nástroja
  </p>
  <ul>
    <li><b>Základné princípy pri práci s informáciami:</b> Zaujímavou a interaktívnou formou naučiť klásť správne otázky: Kto? Čo? Komu? Ako? Prečo?</li>
    <li><b>Systematickosť pri spracovaní informácií:</b> Práca s informáciami a zdrojmi. Možnosť spolupráce pri rozhodovaní.</li>
    <li><b>Vedieť robiť rozhodnutia a odôvodniť ich:</b> Na základe použitých zdrojov vedieť rozhodnúť a argumentovať.</li>
  </ul>
  <p>
    Lektorské/učiteľské rozhranie:
  </p>
  <ul>
    <li><b>Používať ako vzdelávací nástroj pre rozvoj kritického myslenia:</b> Možnosť riešiť kedykoľvek a kdekoľvek. Interaktívna simulácia chatovania.</li>
    <li><b>Možnosť vytvárať vlastné témy, ktorým sa chcete venovať:</b>  Vytvorenie vlastnej hypotézy, ktorej sa chcete venovať (o ktorej sa učíte).</li>
    <li><b>Zistiť aké zdroje účastníci preferujú a vnímajú problematiku:</b> Štatistiky za jednotlivcov aj skupiny. Možnosť dodatočnej diskusie o téme.</li>
  </ul> -->
  <p>
    Aplikácia bude dostupná v slovenskej, českej, poľskej a anglickej verzii.
  </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Zatvoriť</button>
  </mat-dialog-actions>
</ng-template>
<ng-template [ngIf]="language == 'CZ'">
  <h2 mat-dialog-title>O aplikaci</h2>
  <mat-dialog-content class="mat-typography">
  <!-- <p>
    Interaktivní webová aplikace kurz.myslim.eu vznikla v rámci projektu (Ne)bezpečně v síti.
  </p>
  <p>
    <b>Tento projekt byl spolufinancován z programu Evropské unie Erasmus+.</b>
  </p>
  <p>
    Tento nástroj má přispět ke zvýšení zájmu mladých lidí o aktuální témata, naučit je jak pracovat s informacemi a podpořit je při hledání relevantních zdrojů a informací o diskutovaných tématech.
  </p>
  <p>
    Aplikace nabízí dva základní pracovní módy:
  </p>
  <p>
    Účastnické/žácké rozhraní vzdělávacího nástroje
  </p>
  <ul>
    <li><b>Základní principy při práci s informacemi:</b> Zajímavou a interaktivní formou naučit klást správné otázky: Kdo? Co? Komu? Jak? Proč?</li>
    <li><b>Systematičnost při zpracování informací:</b> Práce s informacemi a zdroji. Možnost spolupráce při rozhodování.</li>
    <li><b>Umět činit rozhodnutí a odůvodnit je:</b> Na základě použitých zdrojů umět rozhodnout a argumentovat.</li>
  </ul>
  <p>
    Lektorské/učitelské rozhraní:
  </p>
  <ul>
    <li><b>Používat jako vzdělávací nástroj pro rozvoj kritického myšlení:</b> Možnost řešit kdykoli a kdekoli. Interaktivní simulace chatování.</li>
    <li><b>Možnost vytvářet vlastní témata, kterým se chcete věnovat:</b>  Vytvoření vlastní hypotézy, které se chcete věnovat (o které se učíte).</li>
    <li><b>Zjistit jaké zdroje účastníci preferují a vnímají problematiku:</b> Statistiky za jednotlivce i skupiny. Možnost dodatečné diskuse o tématu.</li>
  </ul>
  <p>
    Aplikace je dostupná ve slovenské, české a anglické verzi.
  </p> -->
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Zavřít</button>
  </mat-dialog-actions>
</ng-template>
<ng-template [ngIf]="language == 'EN'">
  <h2 mat-dialog-title>About</h2>
  <mat-dialog-content class="mat-typography">
  <!-- <p>
    The interactive web application kurz.myslim.eu was created within the project (Un)secure on the Network.
  </p>
  <p>
    <b>This project was co-funded by the European Union's Erasmus+ program.</b>
  </p>
  <p>
    This tool aims to increase young people's interest in current topics, teach them how to work with information and support them in finding relevant sources and information on the topics discussed.
  </p>
  <p>
    The application offers two basic working modes:
  </p>
  <p>
    Educational tool participant / student interface
  </p>
  <ul>
    <li><b>Basic principles when working with information:</b> Learn to ask the right questions in an interesting and interactive way: Who? What? Whom? How? Why?</li>
    <li><b>Systematicity in information processing:</b> Working with information and resources. Possibility of cooperation in decision making.</li>
    <li><b>Be able to make decisions and justify them:</b> Be able to decide and argue based on the resources used.</li>
  </ul>
  <p>
    Lecturer / teacher interface:
  </p>
  <ul>
    <li><b>Use as an educational tool for the development of critical thinking:</b> Possibility to solve anytime and anywhere. Interactive chat simulation.</li>
    <li><b>Ability to create your own topics that you want to address:</b>  Create your own hypothesis that you want to address (that you are learning about).</li>
    <li><b>Find out what sources the participants prefer and their view to the topic:</b> Statistics for individuals and groups. Possibility of additional discussion on the topic.</li>
  </ul>
  <p>
    The application is available in Slovak, Czech and English versions.
  </p> -->
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>
