.teacher-welcome {
  margin: 90px;
  margin-top: 60px;
  padding: 80px;
}
.teacher-welcome h1 {
  text-align: center;
}

.t-intro {
  font-size: 25px;
}
.guide {
  width: 100%;
}

.wizard {
  display: inline-block;
  margin-left: 20px;
}
