<mat-card class="teacher-welcome">
  <h1>{{'welcome.text1' | translate}}</h1>
  <p class="t-intro">
    {{'welcome.text2' | translate}}
  </p>
  <p class="t-intro">
    {{'welcome.text3' | translate}}
  </p>
  <p class="t-intro">
    {{'welcome.text4' | translate}}
     <b>{{'welcome.text5' | translate}}</b>
     <span class="wizard">
       <app-wizard-button wizardType="welcome"></app-wizard-button>
     </span>
 </p>
 <p class="t-intro">
   {{'welcome.text6' | translate}}
 </p>
 <p>
   <img [src]="'curator.welcome.design' | translate" width="100%">
 </p>
</mat-card>
