<div class="wrapper">
  <!-- <div *ngIf="!pairs.length" class="centered">
    <h2>Zatiaľ nemáte definovaný žiadny pár</h2>
  </div> -->
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'games.actCorrectOne' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{'games.actBasic' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-activity-pass [config]="activity.config"></app-activity-pass>
      <form class="example-form">
        <!-- <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Časové obmedzenie (v sekundách)</mat-label>
          <input matInput [formControl]="timeFormControl" placeholder="Napr. 30" autocomplete="off">
        </mat-form-field> -->
        <!-- <span class="wizard">
          <app-wizard-button wizardType="correct_one_time"></app-wizard-button>
        </span> -->
      </form>
    </mat-expansion-panel>
    <app-one-correct-img-act-item [question]="question" [index]="index"
    (removeEvent)="remove($event)"
    *ngFor="let question of activity.content.questions; let index = index"></app-one-correct-img-act-item>

  </mat-accordion>

  <div class="centered">
    <button mat-raised-button class="action-button" color="primary" (click)="add()">{{'games.newQuestion' | translate}}</button>
    <span class="wizard-btn">
      <app-wizard-button wizardType="correct_one"></app-wizard-button>
    </span>
  </div>
</div>
