<div class="wrapper">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aktivita otvorená otázka
        </mat-panel-title>
        <mat-panel-description>
          Základné nastavenia aktivity
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-activity-pass [config]="activity.config"></app-activity-pass>
      <!-- <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Časové obmedzenie (v sekundách)</mat-label>
          <input matInput [formControl]="timeFormControl" placeholder="Napr. 30" autocomplete="off">
        </mat-form-field>
      </form> -->
    </mat-expansion-panel>
    <app-open-question-item [question]="question" [index]="index"
    *ngFor="let question of activity.content.questions; let index = index"></app-open-question-item>

  </mat-accordion>

  <div class="centered">
    <button mat-raised-button color="primary" (click)="add()">Pridaj novú otázku</button>
  </div>
</div>
