.wrapper {
  width: 100%;
  padding: 50px;
}

.centered {
  padding-top: 50px;
  text-align: center;
}
.example-form {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.wizard {
  position: absolute;
  margin-left: 10px;
}

.action-button {
  margin-left: 25px;
  margin-right: 5px;
}
.wizard-btn {
  display: inline-block;
}

.wizard-act {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  transform: scale(0.7);
  top: -5px;
}
