<div class="wrapper">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'games.actOpenQuestion' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{'games.actBasic' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-activity-pass [config]="activity.config"></app-activity-pass>
      <!-- <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Časové obmedzenie (v sekundách)</mat-label>
          <input matInput [formControl]="timeFormControl" placeholder="Napr. 30" autocomplete="off">
        </mat-form-field>
      </form> -->
    </mat-expansion-panel>
    <app-open-question-item [question]="question" [index]="index"
    (removeEvent)="remove($event)"
    *ngFor="let question of activity.content.questions; let index = index"></app-open-question-item>

  </mat-accordion>

  <div class="centered">
    <button mat-raised-button class="action-button" color="primary" (click)="add()">{{'games.newQuestion' | translate}}</button>
    <span class="wizard-btn">
      <app-wizard-button wizardType="quiz"></app-wizard-button>
    </span>
  </div>
</div>
