<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Vytvorenie novej organizácei</mat-card-title>
    <mat-card-subtitle>Vytvorte novú organizáciu a staňte sa jej administrátorom </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Názov organizácie</mat-label>
        <input matInput [formControl]="titleFormControl" placeholder="Napr. CeNef" autocomplete="off">
        <mat-error *ngIf="titleFormControl.hasError('required')">
          Názov organizácie sa <strong>vyžaduje</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Popis organizácie</mat-label>
        <input matInput [formControl]="descriptionFormControl" placeholder="Napr. niečo o vašej organizácii, ..." autocomplete="off">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="save()"
    >Uložiť</button>
    <button mat-button (click)="cancel()">Zrušiť</button>
  </mat-card-actions>
</mat-card>
