.canvas-img {
  position: relative;
  /* margin: auto; */
  /* width: 220px; */
  display: inline-block;
}
.canvas-pt {
  position: absolute;
  cursor: move;
}
.levelMap {
  position: absolute;
  top: 0;
  left: 0;
}
#levelMapImg {
  /* IMPORTANT NUMBER FOR RATIO OF SAVING POI */
  height: 500px;
}
.centered {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}
.circle {
  cursor: pointer;
}
.circles {
  margin-top: 20px;
  margin-bottom: 20px;
}

.desc {
  color: black;
  position: absolute;
  top: 60px;
  left: 60px;
  spacing: 10px;
  padding: 20px;
  background-color: silver;
  width: 200px;
  border-radius: 5px;
  border: 2px dotted grey;
  text-align: center;
}
.desc span {
  width: 100%;
}
.num {
  position: relative;
  top: -45px;
  /* font-family: 'Verdana', sans-serif; */
}

.action-button {
  margin-left: 25px;
  margin-right: 5px;
}

.wizard {
  display: inline-block;
}

.remove {
  position: absolute;
  top: 10px;
  right: 10px;
}
.preview {
  position: relative;
  display: inline-block;
}
