<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{'games.questionNr' | translate}} {{index + 1}}
    </mat-panel-title>
    <mat-panel-description>
      <!-- názov -->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{'games.question' | translate}}</mat-label>
      <input matInput [formControl]="questionFormControl" placeholder="{{'games.questionPlaceholder2' | translate}}" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{'games.expl' | translate}}</mat-label>
      <input matInput [formControl]="explanationFormControl" placeholder="{{'games.explPlaceholder' | translate}}" autocomplete="off">
    </mat-form-field>
    <span class="wizard">
      <app-wizard-button wizardType="explanation"></app-wizard-button>
    </span>
  </form>

  <div class="centered">
    <div class="preview">
      <img *ngIf="question.img" [src]="mediaUrl(question.img)" class="img-question">
      <div *ngIf="question.img" class="remove">
        <button  mat-icon-button
        (click)="removeMedia()" aria-label="Example icon button with a home icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <button *ngIf="!question.img" mat-raised-button color="primary" (click)="mediaSelection(question)">{{'games.selImg' | translate}}</button>
  </div>

  <mat-action-row>
    <button mat-button color="primary" (click)="remove(index)"><mat-icon>delete</mat-icon> {{'act.remove' | translate}} </button>
  </mat-action-row>
</mat-expansion-panel>
