<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Bod záujmu č. {{index + 1}}
    </mat-panel-title>
    <mat-panel-description>
      <!-- názov -->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Otázka</mat-label>
      <input matInput [formControl]="questionFormControl" placeholder="Napr. Kde sa nachádza zdroj svetla?" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Vysvetlenie</mat-label>
      <input matInput [formControl]="explanationFormControl" placeholder="Napr. Ako rozpoznať zdroj svetla" autocomplete="off">
    </mat-form-field>
  </form>
</mat-expansion-panel>
